[Desktop Entry]
Type=Application
Name=RemiDock
Comment=Custom Qt/QML dock for KDE Plasma
Exec=RemiDock
Icon=remidock
Terminal=false
Categories=Utility;
StartupNotify=false
